@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-lora: var(--font-lora);
  --color-main-purple: #6A00F4;
  --color-pink-900: #FF0A54;
  --color-pink-700: #FF477E;
  --color-pink-500: #FF85A1;
  --color-pink-300: #FBB1BD;
  --color-pink-100: #FAE0E4;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

.form-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/login.jpg") no-repeat bottom;
  background-size: cover;

  @media (max-width:768px) {
    background: white;
  }
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/home.jpg") no-repeat center;
  background-size: cover;

}



@layer components {
  .btn {
    border-radius: 9px;
    padding: 7px 10px;
    text-align: center;
    min-width: 120px;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      @media (hover:hover) {
        opacity: 0.8;
      }
    }
  }


  .text-coloured {
    background: transparent;
    width: fit-content;
    color: var(--color-main-purple);
  }

}

hr {
  border: 0;
}

@supports (-webkit-background-clip: text) {
  .text-coloured {
    background: linear-gradient(to right, var(--color-pink-900), var(--color-main-purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}